:root{
  --square-dimensions: 100px
}

.game{
  margin: 10em 30em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.square {
  background-color: white;
  border: solid 1px #999;
  line-height: var(--square-dimensions);
  font-size: var(--square-dimensions);
  font-weight: bold;
  height: var(--square-dimensions);
  width: var(--square-dimensions);
  margin-left: -1px;
  margin-top: -1px;
  float: left;
  padding: 0;
}

.board{
  display: grid;
  grid-template-columns: var(--square-dimensions) var(--square-dimensions) var(--square-dimensions) ;
  gap: 0px;
}

li{
  width: 200px;
}